---
swagger: "2.0"
info:
  version: "2018-02-08T20:37:02Z"
  title: "anonna-serverless-new"
basePath: "/v1.0"
schemes:
- "https"
paths:
  /anonamize:
    post:
      consumes:
      - "application/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
      responses:
        200:
          description: "200 response"
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Content-Type:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Content-Type: "'application/json'"
            responseTemplates:
              application/json: "$util.parseJson($input.body)"
            contentHandling: "CONVERT_TO_TEXT"
        requestParameters:
          integration.request.header.Content-Type: "'application/x-www-form-urlencoded'"
        requestTemplates:
          application/json: "{\n#foreach( $token in $input.path('$').split('&') )\n\
            \ #set( $keyVal = $token.split('=') )\n #set( $keyValSize = $keyVal.size()\
            \ )\n #if( $keyValSize >= 1 )\n  #set( $key = $util.urlDecode($keyVal[0])\
            \ )\n   #if( $keyValSize >= 2 )\n    #set( $val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\
            \\\\'\",\"'\") )\n   #else\n     #set( $val = '' )\n      #end\n \"$key\"\
            : \"$val\"#if($foreach.hasNext),#end\n            #end\n        #end\n\
            }"
          application/x-www-form-urlencoded: "{\n#foreach( $token in $input.path('$').split('&')\
            \ )\n #set( $keyVal = $token.split('=') )\n #set( $keyValSize = $keyVal.size()\
            \ )\n #if( $keyValSize >= 1 )\n  #set( $key = $util.urlDecode($keyVal[0])\
            \ )\n   #if( $keyValSize >= 2 )\n    #set( $val = $util.escapeJavaScript($util.urlDecode($keyVal[1])).replaceAll(\"\
            \\\\'\",\"'\") )\n   #else\n     #set( $val = '' )\n      #end\n \"$key\"\
            : \"$val\"#if($foreach.hasNext),#end\n            #end\n        #end\n\
            }"
        uri: "arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:513726060493:function:${stageVariables.LambdaFunctionName}/invocations"
        passthroughBehavior: "when_no_templates"
        httpMethod: "POST"
        contentHandling: "CONVERT_TO_TEXT"
        type: "aws"
definitions:
  Empty:
    type: "object"
    title: "Empty Schema"
